<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

    <script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

    <script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Core/Front/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css">
        html,
        body {
            height: 100%;
        }
        /* 顶部导航栏 */
        
        #menu-icon {
            width: 50px;
            height: 50px;
            z-index: 99999999;
        }
        
        .header-menu-icon {
            display: block;
            width: 26px;
            height: 2px;
            margin-top: -1px;
            right: auto;
            bottom: auto;
            background-color: white;
            position: absolute;
            left: 11px;
            top: 50%;
        }
        
        .header-menu-icon::before,
        .header-menu-icon::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: inherit;
            position: absolute;
            left: 0;
        }
        
        .header-menu-icon::before {
            top: -8px;
        }
        
        .header-menu-icon::after {
            bottom: -8px;
        }
        
        .header-nav__close {
            z-index: 601;
            display: block;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            right: auto;
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
        }
        
        .header-nav__close span::before,
        .header-nav__close span::after {
            content: "";
            display: block;
            height: 2px;
            width: 30px;
            background-color: #FFFFFF;
            position: absolute;
            top: 0%;
            left: 7px;
            margin-top: -1px;
        }
        
        .header-nav__close span::before {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        .header-nav__close span::after {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        #menu li a {
            font-family: Simsun;
            font-weight: bold;
            color: #bbb;
        }
        
        #menu li:hover a {
            transition-duration: 0.3s;
            color: #fff;
        }
        
        #h-nav .col {
            text-align: center;
        }
        
        #h-nav {
            overflow: hidden;
        }
        /* 轮播 */
        
        #LB::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 200px;
            width: 100%;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, .5)), to(transparent));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent);
        }
        
        #LB .img-fluid {
            width: 100%;
        }
    </style>

    <script type="text/javascript">
        //公用函数定义
        function sleep(fun, ms) {
            setTimeout(fun, ms);
        }

        function loop(fun, ms) {
            fun();
            setInterval(fun, ms);
        }

        addEventListener(
            "load",
            function() {
                setTimeout(hideURLbar, 0);
            },
            false
        );

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function h_nav() {
            if ($(window).width() <= 995) {

                $('#menu-icon').css({
                    'display': 'block'
                })


                $('#h-nav').addClass('row').css({
                    position: 'relative',
                    top: 0,
                    display: 'none'
                })

                $('#h-nav').removeClass('row').css({
                    'position': 'fixed',
                    'paddingTop': '5%'
                })

                $('#menu-icon a').css({
                    display: 'block'
                })

                $('#h-nav .col').css({
                    'position': 'relative',
                    'left': '100%',
                    'opacity': '0'
                })

                $('#h-nav').css({
                    'backgroundColor': '',
                    'height': '',
                    'paddingTop': '5%'
                })
            } else {
                $('#h-nav').css({
                    'backgroundColor': '',
                    'height': '',
                    'paddingTop': '',
                    'display': ''
                })

                $('#h-nav .col').css({
                    'position': 'relative',
                    'left': '0%',
                    'opacity': '1'
                })
                $('#menu-icon a').css({
                    display: 'none'
                })


                $('#h-nav').addClass('row').css({
                    position: 'relative',
                    top: 0,
                    paddingTop: '5px'
                })

                $('#menu-icon').css({
                    'display': 'none'
                })
            }
            $('#menu-icon a').addClass('header-menu-icon').removeClass('header-nav__close text-white')
        }

        $(document).ready(function() {
            h_nav()
            $(window).resize(function() {
                h_nav()
            })

            $('#menu-icon').click(function() {
                if ($('#menu-icon a').hasClass('header-menu-icon')) {
                    var speed = 300;
                    $('#menu-icon a').removeClass('header-menu-icon').addClass('header-nav__close text-white')
                    $('#h-nav .col').css({
                        'position': 'relative',
                        'left': '100%',
                        'opacity': '0',
                    })

                    $('#h-nav').css({
                        'backgroundColor': head.h_nav_M_bgColor,
                        'height': '100%',
                        'display': 'block'
                    })

                    $('#h-nav .col').each(function() {
                        $('#h-nav div').css({
                            'display': 'block',
                            'height': '50px'
                        })
                        $(this).animate({
                                left: "0%",
                                opacity: "1"
                            },
                            300 + $(this).index() * speed
                        );
                    });
                } else {
                    // $('#h-nav div').css({
                    // 	'display': 'none'
                    // })
                    $('#h-nav').css({
                        'backgroundColor': '',
                        'height': '',
                        'display': 'none',
                    })

                    $('#h-nav .col').each(function() {
                        $('#h-nav div').css({
                            'display': 'block'
                        })
                        $(this).stop(true, true)
                        $(this).animate({
                                left: "100%",
                                opacity: "0"
                            },
                            300 + $(this).index() * speed
                        );
                    });

                    $('#h-nav .col').css({
                        'left': '100%',
                        'opacity': '1'
                    })
                    $('#menu-icon a').addClass('header-menu-icon').removeClass('header-nav__close text-white')
                }
            })
        })
    </script>
</head>

<body class="body">

    <div id="head" :style="{height:h_nav_height+'px','background-color':h_nav_bgColor}">
        <div class="container-fluid row" style="padding-top: 10px;position: absolute;z-index: 9999999;width: 100%;top: 0;">
            <div id="header" class="col-lg-4">
                <img :style="{height:h_nav_height+'px',color:h_nav_color,top:'-10px',position:'relative'}" :src="h_nav_logo" alt="LOGO" class="wow flipInX" data-wow-duration="0.5s" data-wow-delay="0.2s">
            </div>

            <div id="menu-icon" style="position: fixed;right: 5%;top: 2px;">
                <a class="header-menu-icon"><span></span></a>
            </div>

            <div id='h-nav' class="col-lg-8 row">
                <div class="col" v-for="(v,k) in headerNav" :key="k">
                    <a :href="v.url" :style="{color:h_nav_color,'text-decoration': 'none'}" :target="v.target">{{v.name}}</a>
                </div>
                <div class="col">
                    <a href="login.php" :style="{color:h_nav_color,'text-decoration': 'none'}">登录</a>
                </div>
                <div class="col">
                    <a href="register.php" :style="{color:h_nav_color,'text-decoration': 'none'}">注册</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var head = new Vue({
            el: '#head',
            data() {
                return {
                    title: "",
                    headerNav: "",
                    h_nav_logo: '',
                    h_nav_bgColor: "#fff",
                    h_nav_height: "60",
                    h_nav_color: '#000',
                    h_nav_M_bgColor: '#d8cec4'
                }
            },
            watch: {
                headerNav: function() {
                    head.$nextTick(function() {
                        h_nav()
                    })
                }
            },
            mounted() {
                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "baseConfig": ''
                }), ).then(function(res) {
                    head.title = res.data.title
                    document.title = head.title
                    head.h_nav_bgColor = res.data.h_nav_bgColor
                    head.h_nav_height = res.data.h_nav_height
                    head.h_nav_logo = res.data.h_nav_logo
                    head.h_nav_color = res.data.h_nav_color
                    head.h_nav_M_bgColor = res.data.h_nav_M_bgColor
                })

                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "h_nav": ''
                }), ).then(function(res) {
                    head.headerNav = res.data
                    console.log(res.data)
                })

            }
        })
    </script>


    <div id="teacher">

		<el-row>
			<el-col :span="24">
				<div class="text-success" style="text-align: center;padding-left: 1.25rem;padding-right: 1.25rem;">欢迎您，XXX老师</div>
			</el-col>
		</el-row>

        <el-tabs :tab-position="tabPosition" style="">

            <el-tab-pane label="班级管理">
                <div id="Class">
                    <el-tabs v-model="tabIndex" tab-position="top" style="" @tab-remove="removeTab">
                        <el-tab-pane label="班级概览" name="班级概览" >
                            <el-table border :data="classes.data" style="width: 100%" @sort-change="" @filter-change="(x)=>classFilter(x)">
                                <el-table-column prop="grade" label="年级" :column-key="'grade'" :filters="classes.gradeFilter">
                                </el-table-column>
                                <el-table-column prop="department" label="系">
                                </el-table-column>
                                <el-table-column prop="major" label="专业" :column-key="'major'" :filters="classes.majorFilter">
                                </el-table-column>
                                <el-table-column prop="class" label="班级">
                                </el-table-column>
								<el-table-column prop="course" label="课程">
								</el-table-column>
								<el-table-column prop="num" label="学生人数">
								</el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
											<div class="text-center">
												<el-button size="mini" type="" class="mx-auto text-center" @click="selectStudent(scope)">
													查看学生
												</el-button>
												<el-button size="mini" type="danger" class="mx-auto text-center" @click="">
													操作
												</el-button>
											</div>
										</template>
                                </el-table-column>
                            </el-table>

                            <el-pagination @size-change="" @current-change="(v)=>{classCurrentChange(v)}" :current-page.sync="classes.page" :page-size="10" layout="prev, pager, next, jumper" :total="parseInt(classes.count)">
                            </el-pagination>

                        </el-tab-pane>
						
						<el-tab-pane v-for="(item,index) in tabs" :key="item.name" :label="item.name" :name="item.name" closable >
							<el-table border :data="item.data" style="width: 100%">
							    <el-table-column prop="id" label="学号">
							    </el-table-column>
							    <el-table-column prop="name" label="姓名">
							    </el-table-column>
							    <el-table-column prop="sex" label="性别">
							    </el-table-column>
							    <el-table-column prop="both" label="出生日期">
							    </el-table-column>
								<el-table-column prop="phone" label="联系电话">
								</el-table-column>
								<el-table-column prop="seat" label="座号">
								</el-table-column>
							</el-table>
						</el-tab-pane>
					</el-tabs>
                </div>
            </el-tab-pane>


        </el-tabs>

    </div>

    <script type="text/javascript">

        var resetWindow = function() {
            $('#Class').css({
                'min-height': $(window).height() - $('#head').height() - $('#foot').height()
            })

            if ($(window).width() <= 995) {
                teacher.tabPosition = 'top'
                $('#teacher').css({
                    'margin': '0 10px',
                    'margin-top': '5px'
                })
            } else {
                teacher.tabPosition = 'left'
                $('#teacher').css({
                    'margin': '0 5px',
                    'margin-top': '5px'
                })
            }
        }
        $(document).ready(function() {
            resetWindow()
        })
        $(window).resize(function() {
            resetWindow()
        })

        var teacher = new Vue({
            el: '#teacher',
            watch: {
            },
            computed: {
            },
            data() {

                return {

					tid:10002,

					tabIndex:'班级概览',
					tabs:[],
                    tabPosition: 'left',
					
                    classes: {
                        data: [],
                        grade: '',
                        department: '',
                        major: '',
                        page: 1,
                        count: 0,
                        gradeFilter: [],
                        departmentFilter: [],
                        majorFilter: [],
                    },
                    addClasses: {

                        department: '',
                        departmentList: '',
                        years: '3',
                        major: '',
                        majorList: '',
                        grade: '',
                        gradeList: "",
                        Class: '',

                        majorDisabled: true,
                        gradeDisabled: true,
                        classDisabled: true,
                    },
                    addClassesRules: {
                        grade: [{
                            required: true,
                            message: '请选择年级',
                            trigger: 'blur'
                        }, ],
                        department: [{
                            required: true,
                            message: '请选择学系',
                            trigger: 'blur'
                        }, ],
                        major: [{
                            required: true,
                            message: '请选择专业',
                            trigger: 'blur'
                        }, ],
                        Class: [{
                            required: true,
                            message: '请输入班级编号',
                            trigger: ['blur', 'change'],
                        }, {
                            min: 1,
                            max: 1,
                            message: '请输入1~9的班级编号',
                            trigger: ['blur', 'change']
                        }, ],
                    },


                }
            },
            mounted() {

                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "getTeacherClass": '',
					'tid': this.tid,
                    'page': '1',
                    'num': '10'
                }), ).then(function(res) {
                    teacher.classes.data = res.data
                })

                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "getTeacherClassCount": '',
					'tid': this.tid,
                }), ).then(function(res) {
                    teacher.classes.count = res.data.num
                })

				axios.post('/Core/Global/frontInit.php', Qs.stringify({
				    "getTeacherMajor": this.tid,
				}), ).then(function(res) {
				    teacher.classes.majorFilter = res.data
				})

                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "getTeacherGrade": this.tid,
                }), ).then(function(res) {
                    teacher.classes.gradeFilter = res.data
                })

            },
            methods: {
				removeTab(tabName){
					console.log(tabName)
					if(this.tabIndex != tabName)
					{
						this.tabs.forEach((tab,index) => {
							if(tab.name === tabName){
								nextTab = this.tabs[index + 1] || this.tabs[index - 1]
								if(nextTab){
									this.tabIndex = nextTab.name
								}
							}
						})
					}
					this.tabs = this.tabs.filter(tab => tab.name !== tabName)
					if(this.tabs.length == 0)
					{
						this.tabIndex = "班级概览"
					}
				},
				selectStudent(scope){
					console.log(scope.row)
					var name = scope.row.grade + scope.row.department + scope.row.major + scope.row.class
					flag = false
					this.tabs.forEach((tab,index) => {
						if(tab.name == name)
						{
							this.tabIndex = name
							flag = true
						}
					})
					if(!flag){
						axios.post('/Core/Global/frontInit.php', Qs.stringify({
						    "getTeacherStudent": "",
							"grade":scope.row.grade,
							"department":scope.row.departmentId,
							"major":scope.row.majorId,
							"class":scope.row.class
						}), ).then(function(res) {
						    data = res.data
							teacher.tabs.push({
								name: name,
								data: data,
							})
							teacher.tabIndex = name
						})
					}
				},
               classFilter(val) {
                    if ('grade' in val) {
                        teacher.classes.grade = val['grade']
                    }
                    if ('major' in val) {
                        teacher.classes.major = val['major']
                    }
                    teacher.classes.page = 1
                    this.classCurrentChange(teacher.classes.page)
                    console.log(val)
                },
                classCurrentChange(val) {
                    axios.post('/Core/Global/frontInit.php', Qs.stringify({
                        "getTeacherClass": '',
                        'page': val,
                        'num': '10',
						'tid': teacher.tid,
                        'grade': JSON.stringify(teacher.classes.grade),
                        'major': JSON.stringify(teacher.classes.major),
                    }), ).then(function(res) {
                        teacher.classes.data = res.data
                    })
                    axios.post('/Core/Global/frontInit.php', Qs.stringify({
                        "getTeacherClassCount": '',
						'tid': teacher.tid,
                        'grade': JSON.stringify(teacher.classes.grade),
                        'major': JSON.stringify(teacher.classes.major),
                    }), ).then(function(res) {
                        teacher.classes.count = res.data.num
                    })
                }
                

            }
        })

    </script>


    <div id="foot">
        <el-backtop :bottom="100" :right="20">
            <div style="{
					        background-color: #f2f5f6;
					        box-shadow: 0 0 6px rgba(0,0,0, .12);
					        text-align: center;
					        color: #1989fa;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							line-height: 180%;
					      }">
                ▲
            </div>
        </el-backtop>

        <el-row :style="{'background-color':foot_bgColor,'color':foot_color}">
            <el-col :md="24" class="text-center">
                Copyright © {{siteName}} All Rights Reserved
            </el-col>

            <el-col :md="24" v-if="foot_extend">
                <div v-html="foot_extend_contain" class="row" style="padding: 0;margin: 0;"></div>
            </el-col>

        </el-row>
    </div>

    <script type="text/javascript">
        var foot = new Vue({
            el: '#foot',
            data() {
                return {
                    siteName: '',
                    foot_bgColor: '#000',
                    foot_color: "#fff",
                    foot_extend: false,
                    foot_extend_contain: '',
                }
            },
            mounted() {
                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "baseConfig": ''
                }), ).then(function(res) {
                    foot.siteName = res.data.title
                    foot.foot_bgColor = res.data.foot_bgColor
                    foot.foot_color = res.data.foot_color
                    foot.foot_extend = res.data.foot_extend == 'true'
                    if (foot.foot_extend) {
                        foot.foot_extend_contain = res.data.foot_extend_contain
                    }
                })
            }
        })
    </script>
</body>

</html>