<link rel="stylesheet" type="text/css" href="Assets/css/style.default.css" />
<div class="page login-page" id="register">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content" style="    margin: auto;">
                            <div class="logo" style="text-align: center;">
                                <h1>欢迎登录</h1>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">

                            <el-form ref="form" :model="form" label-width="80px" label-position="right" :rules="rules" style="max-width: none;">

                                <el-form-item label="登录身份" prop="identity">
                                    <el-radio-group v-model="form.identity">
                                        <el-radio label="student">学生</el-radio>
                                        <el-radio label="teacher">教工</el-radio>
                                        <el-radio label="admin">管理员</el-radio>
                                    </el-radio-group>
                                </el-form-item>

                                <el-form-item :label="userLabel" prop="user">
                                    <el-input v-model="form.user"></el-input>
                                </el-form-item>

                                <el-form-item label="密码" prop="password">
                                    <el-input v-model="form.password" type="password"></el-input>
                                </el-form-item>

                            </el-form>

                            <button id="login" type="button" class="btn btn-primary btn-block" @click="onSubmit">登录</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var login = new Vue({
        el: '#register',
        data() {
            var validatorUser = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('请输入' + login.userLabel))
                } else if (login.userLabel == '学号') {
                    if (value.length != 10) {
                        return callback(new Error('学号格式错误'))
                    } else {
                        return callback()
                    }
                } else {
                    return callback()
                }
            }
            return {
                form: {
                    identity: "student",
                    user: "",
                    password: "",
                },
                userLabel: '学号',
                rules: {
                    user: [{
                        required: true,
                        validator: validatorUser,
                        trigger: 'blur'
                    }, ],
                    password: [{
                        required: true,
                        message: '登录密码不能为空',
                        trigger: 'blur'
                    },
                        {
                            min: 6,
                            message: '密码长度不小于6位',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        watch: {
            identity(n, o) {
                if (n == 'teacher') {
                    login.userLabel = '教工号'
                } else if (n == 'student'){
                    login.userLabel = '学号'
                }
                else{
                    login.userLabel = '管理账号'
                }
                login.$refs['form'].validate((v) => {})
            }
        },
        computed: {
            identity() {
                return this.form.identity
            }
        },
        methods: {
            onSubmit() {
                login.$refs['form'].validate((valid) => {
                    if (valid) {
                        if (login.form.identity == 'student') {
                            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                                "studentLogin": '',
                                'user':login.form.user,
                                'password':login.form.password,
                            }), ).then(function(res) {
                                if('error' in res.data)
                                {
                                    login.$alert(res.data.error, '错误', {
                                        confirmButtonText: '确定',
                                        type: 'error',
                                        center: true,
                                        callback: action => {
                                        }
                                    })
                                }
                                else{
                                    login.$alert(res.data.success, '登录成功', {
                                        confirmButtonText: '确定',
                                        type: 'success',
                                        center: true,
                                        callback: action => {
                                            window.location = 'index.php'
                                        }
                                    })
                                }
                            })
                        }
                        else if (login.form.identity == 'teacher'){
                            // login.$alert('教工登录入口暂未开放', {
                            // 	confirmButtonText: '确定',
                            // 	type: 'warning',
                            // 	center: true,
                            // 	callback: action => {
                            // 		// window.location = 'index.html'
                            // 	}
                            // })
                            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                                "teacherLogin": '',
                                'user':login.form.user,
                                'password':login.form.password,
                            }), ).then(function(res) {
                                if('error' in res.data)
                                {
                                    login.$alert(res.data.error, '错误', {
                                        confirmButtonText: '确定',
                                        type: 'error',
                                        center: true,
                                        callback: action => {
                                        }
                                    })
                                }
                                else{
                                    login.$alert(res.data.success, '登录成功', {
                                        confirmButtonText: '确定',
                                        type: 'success',
                                        center: true,
                                        callback: action => {
                                            window.location = 'index.php'
                                        }
                                    })
                                }
                            })
                        }
                        else {
                            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                                "adminLogin": '',
                                'user':login.form.user,
                                'password':login.form.password,
                            }), ).then(function(res) {
                                if('error' in res.data)
                                {
                                    login.$alert(res.data.error, '错误', {
                                        confirmButtonText: '确定',
                                        type: 'error',
                                        center: true,
                                        callback: action => {
                                        }
                                    })
                                }
                                else{
                                    login.$alert(res.data.success, '登录成功', {
                                        confirmButtonText: '确定',
                                        type: 'success',
                                        center: true,
                                        callback: action => {
                                            window.location = 'index.php'
                                        }
                                    })
                                }
                            })
                        }
                        console.log(valid)
                    } else {
                        console.log(valid)
                    }
                })
            }
        }

    })
</script>