<div id="teacher">

    <el-row>
        <el-col :span="24">
            <div class="text-success" style="text-align: center;padding-left: 1.25rem;padding-right: 1.25rem;">欢迎您，<?php echo $_SESSION['name'] ?>老师</div>
        </el-col>
    </el-row>

    <el-tabs :tab-position="tabPosition" style="">

        <el-tab-pane label="班级管理">
            <div id="Class">
                <el-tabs v-model="tabIndex" tab-position="top" style="" @tab-remove="removeTab">
                    <el-tab-pane label="班级概览" name="班级概览" >
                        <el-table border :data="classes.data" style="width: 100%" @sort-change="" @filter-change="(x)=>classFilter(x)">
                            <el-table-column prop="grade" label="年级" :column-key="'grade'" :filters="classes.gradeFilter">
                            </el-table-column>
                            <el-table-column prop="department" label="系">
                            </el-table-column>
                            <el-table-column prop="major" label="专业" :column-key="'major'" :filters="classes.majorFilter">
                            </el-table-column>
                            <el-table-column prop="class" label="班级">
                            </el-table-column>
                            <el-table-column prop="course" label="课程">
                            </el-table-column>
                            <el-table-column prop="num" label="学生人数">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <div class="text-center">
                                        <el-button size="mini" type="" class="mx-auto text-center" @click="selectStudent(scope)">
                                            查看学生
                                        </el-button>
                                        <el-button size="mini" type="primary" class="mx-auto text-center" @click="selectScore(scope)">
                                            分数登记
                                        </el-button>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>

                        <el-pagination @size-change="" @current-change="(v)=>{classCurrentChange(v)}" :current-page.sync="classes.page" :page-size="10" layout="prev, pager, next, jumper" :total="parseInt(classes.count)">
                        </el-pagination>

                    </el-tab-pane>

                    <el-tab-pane v-for="(item,index) in tabs" :key="item.name" :label="item.name" :name="item.name" closable >
                        <el-table border :data="item.data" style="width: 100%">
                            <el-table-column prop="id" label="学号">
                            </el-table-column>
                            <el-table-column prop="name" label="姓名">
                            </el-table-column>
                            <el-table-column prop="sex" label="性别">
                            </el-table-column>
                            <el-table-column prop="both" label="出生日期">
                            </el-table-column>
                            <el-table-column prop="phone" label="联系电话">
                            </el-table-column>
                            <el-table-column prop="seat" label="座号">
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>

                    <el-tab-pane v-for="(item,index) in scoreTabs" :key="item.name" :label="item.name" :name="item.name" closable >
                        <el-table border :data="item.data" style="width: 100%">
                            <el-table-column prop="id" label="学号">
                            </el-table-column>
                            <el-table-column prop="name" label="姓名">
                            </el-table-column>
                            <el-table-column prop="seat" label="座号">
                            </el-table-column>
                            <el-table-column label="分数">
                                <template slot-scope="scope">
                                    <span v-if="scope.row.score && (item.edit != scope.$index)">{{scope.row.score}}</span>
                                    <span v-else-if="(item.edit != scope.$index)"> 无 </span>
                                    <input type="text" v-else v-model="scope.row.score" oninput="value=value.replace(/[^(0-9)]/g,'')" />
                                </template>
                            </el-table-column>
                            <el-table-column label="是否补考">
                                <template slot-scope="scope">
                                    <span v-if="scope.row.makeUp == '1' && (item.edit != scope.$index)">是</span>
                                    <span v-else-if="(item.edit != scope.$index)"> 否 </span>
                                    <el-select v-model="scope.row.makeUp" v-else>
                                        <el-option :label="'否'" :value="0"></el-option>
                                        <el-option :label="'是'" :value="1"></el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <div class="text-center">
                                        <el-button size="mini" type="primary" class="mx-auto text-center" @click="updateScore(item,scope)" v-if="(item.edit != scope.$index)">
                                            登记分数
                                        </el-button>

                                        <el-button size="mini" type="warning" class="mx-auto text-center" @click="saveScore(item,scope)" v-else>
                                            保存分数
                                        </el-button>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </el-tab-pane>


    </el-tabs>

</div>

<script type="text/javascript">

    var resetWindow = function() {
        $('#Class').css({
            'min-height': $(window).height() - $('#head').height() - $('#foot').height()
        })

        if ($(window).width() <= 995) {
            teacher.tabPosition = 'top'
            $('#teacher').css({
                'margin': '0 10px',
                'margin-top': '5px'
            })
        } else {
            teacher.tabPosition = 'left'
            $('#teacher').css({
                'margin': '0 5px',
                'margin-top': '5px'
            })
        }
    }
    $(document).ready(function() {
        resetWindow()
    })
    $(window).resize(function() {
        resetWindow()
    })

    var teacher = new Vue({
        el: '#teacher',
        watch: {
        },
        computed: {
        },
        data() {

            return {

                tid:'<?php echo $_SESSION["user"] ?>',

                tabIndex:'班级概览',
                tabs:[],
                scoreTabs:[],
                tabPosition: 'left',

                classes: {
                    data: [],
                    grade: '',
                    department: '',
                    major: '',
                    page: 1,
                    count: 0,
                    gradeFilter: [],
                    departmentFilter: [],
                    majorFilter: [],
                },


            }
        },
        mounted() {

            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                "getTeacherClass": '',
                'tid': this.tid,
                'page': '1',
                'num': '10'
            }), ).then(function(res) {
                teacher.classes.data = res.data
            })

            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                "getTeacherClassCount": '',
                'tid': this.tid,
            }), ).then(function(res) {
                teacher.classes.count = res.data.num
            })

            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                "getTeacherMajor": this.tid,
            }), ).then(function(res) {
                teacher.classes.majorFilter = res.data
            })

            axios.post('/Core/Global/frontInit.php', Qs.stringify({
                "getTeacherGrade": this.tid,
            }), ).then(function(res) {
                teacher.classes.gradeFilter = res.data
            })

        },
        methods: {
            saveScore(item,scope){
                if(scope.row.score < 0 || scope.row.score > 100)
                {
                    teacher.$alert('分数格式有误', '错误', {
                        confirmButtonText: '确定',
                        type: 'error',
                        center: true,
                        callback: action => {}
                    })
                }
                else if(scope.row.score == null || scope.row.score.length == 0)
                {
                    scope.row.makeUp = null
                    teacher.$message({
                        type: 'info',
                        message: '已取消操作'
                    });
                    item.edit = null
                }
                else if(scope.row.makeUp == null)
                {
                    teacher.$alert('请选择是否为补考分数', '错误', {
                        confirmButtonText: '确定',
                        type: 'error',
                        center: true,
                        callback: action => {}
                    })
                }
                else{
                    console.log(item.cid)
                    axios.post('/Core/Global/frontInit.php', Qs.stringify({
                        "updateTeacherScore": item.cid,
                        'sid': scope.row.id,
                        'score': scope.row.score,
                        'makeUp': scope.row.makeUp
                    }), ).then(function(res) {
                        console.log(res.data)

                        if ('error' in res.data) {
                            teacher.$alert(res.data.error, '错误', {
                                confirmButtonText: '确定',
                                type: 'error',
                                center: true,
                                callback: action => {}
                            })
                        } else if ('success' in res.data) {
                            teacher.$message({
                                type: 'success',
                                message: '分数登记成功'
                            });
                            item.edit = null
                        }
                    })

                }
            },
            updateScore(item,scope){
                if(item.edit != null)
                {
                    teacher.$alert('请先填写完当前选中项，如需取消操作请将分数项留空', '错误', {
                        confirmButtonText: '确定',
                        type: 'error',
                        center: true,
                        callback: action => {}
                    })
                }
                else
                {
                    item.edit = scope.$index
                }

            },
            selectScore(scope){
                var name = scope.row.course +'-'+ scope.row.grade + scope.row.department + scope.row.major + scope.row.class
                flag = false
                this.scoreTabs.forEach((tab,index) => {
                    if(tab.name == name)
                    {
                        this.tabIndex = name
                        flag = true
                    }
                })
                if(!flag){
                    axios.post('/Core/Global/frontInit.php', Qs.stringify({
                        "getTeacherScore": "",
                        "cid":scope.row.id,
                        "grade":scope.row.grade,
                        "department":scope.row.departmentId,
                        "major":scope.row.majorId,
                        "class":scope.row.class
                    }), ).then(function(res) {
                        data = res.data
                        teacher.scoreTabs.push({
                            name: name,
                            data: data,
                            edit:null,
                            cid:scope.row.id,
                        })
                        teacher.tabIndex = name
                    })
                }
            },
            removeTab(tabName){
                console.log(tabName)
                flag = true
                if(this.tabIndex != tabName)
                {
                    this.tabs.forEach((tab,index) => {
                        if(tab.name === tabName){
                            flag = false
                            nextTab = this.tabs[index + 1] || this.tabs[index - 1]
                            if(nextTab){
                                this.tabIndex = nextTab.name
                            }
                        }
                    })
                    if(flag){
                        this.scoreTabs.forEach((tab,index) => {
                            if(tab.name === tabName){
                                nextTab = this.scoreTabs[index + 1] || this.tabs[index - 1]
                                if(nextTab){
                                    this.tabIndex = nextTab.name
                                }
                            }
                        })
                    }
                }

                this.tabs = this.tabs.filter(tab => tab.name !== tabName)
                this.scoreTabs = this.scoreTabs.filter(tab => tab.name !== tabName)

                if(this.tabs.length == 0 && this.scoreTabs.length == 0)
                {
                    this.tabIndex = "班级概览"
                }
            },
            selectStudent(scope){
                console.log(scope.row)
                var name = scope.row.grade + scope.row.department + scope.row.major + scope.row.class
                flag = false
                this.tabs.forEach((tab,index) => {
                    if(tab.name == name)
                    {
                        this.tabIndex = name
                        flag = true
                    }
                })
                if(!flag){
                    axios.post('/Core/Global/frontInit.php', Qs.stringify({
                        "getTeacherStudent": "",
                        "grade":scope.row.grade,
                        "department":scope.row.departmentId,
                        "major":scope.row.majorId,
                        "class":scope.row.class
                    }), ).then(function(res) {
                        data = res.data
                        teacher.tabs.push({
                            name: name,
                            data: data,
                        })
                        teacher.tabIndex = name
                    })
                }
            },
            classFilter(val) {
                if ('grade' in val) {
                    teacher.classes.grade = val['grade']
                }
                if ('major' in val) {
                    teacher.classes.major = val['major']
                }
                teacher.classes.page = 1
                this.classCurrentChange(teacher.classes.page)
                console.log(val)
            },
            classCurrentChange(val) {
                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "getTeacherClass": '',
                    'page': val,
                    'num': '10',
                    'tid': teacher.tid,
                    'grade': JSON.stringify(teacher.classes.grade),
                    'major': JSON.stringify(teacher.classes.major),
                }), ).then(function(res) {
                    teacher.classes.data = res.data
                })
                axios.post('/Core/Global/frontInit.php', Qs.stringify({
                    "getTeacherClassCount": '',
                    'tid': teacher.tid,
                    'grade': JSON.stringify(teacher.classes.grade),
                    'major': JSON.stringify(teacher.classes.major),
                }), ).then(function(res) {
                    teacher.classes.count = res.data.num
                })
            }


        }
    })

</script>